.pokedexSidePanel{
    background-color: red;
    width: 400px;
    height: 500px;
    margin-top: 150px;
    border: 1px black solid;
    float: left;
  }

.descriptionArea{
  width: 340px;
  height: 150px;
  margin-top: 20px;
  margin-left: 25px;
  border: 1px black solid;
  background-color: #242424;
  color: white;
  padding: 5px;
  border-radius: 20px;
}