.mainPanelBackground{
    background-color: black;
    width: 400px;
    margin-top: 40px;
    padding-top: 1px;
    height: 550px;
    clip-path: 
    polygon(0 10%, 32% 10%, 58% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.mainPanel{
    background-color: red;
    width: 400px;
    height: 550px;
    clip-path: 
    polygon(0 10%, 32% 10%, 58% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.bottomLeftContainer{
    width: 250px;
    float:left;
}

.bottomRightContainer{
    float:left;
    height:300px;
    width:90px;
}

.leftBlackButton{
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 50px;
    border: .5px solid black;
    background: radial-gradient(circle at 0 0, #4e4e4e, rgb(29, 29, 29));
    background-color: rgb(29, 29, 29);
}

.midButton{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    height: 10px;
    width: 50px;
    border-radius: 5px;
    border: 1px black solid;
}

.redMidBtn{
    background: radial-gradient(circle at 0 0, #ec0202, rgb(192, 2, 2));
}

.greyMidBtn{
    background: radial-gradient(circle at 0 0, #979696, grey);
}

.pokemonSearchInput{
    width:150px;
    float: left;
    padding: 35px 10px;
    background-color: darkseagreen;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
}

.pokemonSearchInput:focus{
    outline-color: transparent;
    outline-style: none;
}

.buttonPad{    
    margin-top: 20px;
    margin-left: 10px;
    width: 90px;
    height: 90px;
    border-radius: 42px;
    background-color: rgb(29, 29, 29);
    clip-path: 
    polygon(65% 0, 35% 0, 35% 35%, 0 35%, 0 65%, 35% 65%, 35% 100%, 65% 100%, 65% 65%, 100% 65%, 100% 35%, 65% 35%);
}