.mainPokedex{
  background-color: red;
  width: 400px;
  height: 700px;
  margin: 50px;
  border-radius: 10px;
}

.cameraLens{
  margin:9px;  
  background-color: #236dad;
  height: 60px;
  width: 60px;
  border-radius: 30px;  
  border:1px black solid;
}

.cameraRing{
  margin: 20px 0px 0px 35px;
  background-color: lightgray;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border:1px black solid;
  float:left;
}

.pokedexCover{
  transform: rotateY(180deg);
}