
.backgroundImagePanelBorder{
    float:left;
    background-color: black;
    width: 302px;
    height: 302px;
    margin: 20px 50px 0 35px;
    border-radius: 5px;

    --notchSize: 20px;  
    clip-path: 
     polygon(100% 0, 100% 100%, 10% 100%, 0 90%, 0 0);
}

.backgroundImagePanel{
    background-color: #c9c9c9;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 1px 0 0 1px;
    --notchSize: 20px;  
    clip-path: 
     polygon(100% 0, 100% 100%, 10% 100%, 0 90%, 0 0);
}

.spritePanel{
    background-color: #adff88;
    text-align: center;
    font-weight: bold;
    float:left;
    width: 260px;
    height: 240px;
    margin: 5px 20px 0 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.spriteBtn{
    height: 20px;
    width: 10px;
    float: right;
    background-color: #c9c9c9;
    opacity: .5;
    margin-top: 110px;
    margin-right: 5px;    
    clip-path: 
     polygon(0 0, 100% 50%, 0 100%);
}

.leftLight{
    margin-left:135px;
}

.rightLight{
    margin-left:20px;
}

.imagePanelSmallLight{
    margin-top:6px;
    float: left;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    border: .5px solid black;
    background-color: darkred;
}

.imagePanelBottomLight{
    margin-left: 35px;
    margin-top: 10px;
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: .5px solid black;
    background: radial-gradient(circle at 7px 7px, #ff3030 30%, darkred);
    background-color: darkred;
}

.lineContainer{
    float: left;
    width: 30px;
    margin-top: 5px;
    margin-left: 190px;
}

.lineDiv{
    float: right;
    margin-top: 6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width:70px;
    height: 6px;
}